<div class="card-header-product-wrapper">
  <img
    src="{{ card_product.featured_media | image_url: width: 533 }}"
    alt="{{ card_product.featured_media.alt | escape }}"
    loading="lazy"
    width="{{ card_product.featured_media.width }}"
    height="{{ card_product.featured_media.height }}"
  >
  <a href="{{ card_product.url }}" class="full-unstyled-link">
    <div class="header-product-title">{{ card_product.title }}</div>
    <div class="header-product-subtitle">{{ card_product.metafields.descriptors.subtitle }}</div>
  </a>
</div>